MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImFkMGExNjIwLTkxMWMtNDQyZS1hYjViLTJkMTcxYjUwMWExYyIsIm9yZ0lkIjoiMzkyNjMxIiwidXNlcklkIjoiNDAzNDQzIiwidHlwZUlkIjoiN2JlYTQyZGQtN2JlMS00OTNkLWE3ODAtZGU3MTU1OWI5YzU0IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MTU5NDQ3NDcsImV4cCI6NDg3MTcwNDc0N30.hikCKegim_diDBAfa_HMQcFbJZCVJty5tOeDfsEcOYI"
